/* ! VARIABLES */
:root {
    /* Google fonts */
    --font-main: "Neuton", serif;
    /* Color Palette */
    --color-bg: bisque; 
    --color-text: black; 
    --color-frames: cadetBlue;
}

html {
    font-size: 100%; /* Default size: 16px */
}

body {
    font-size: 1.875rem; /* 1.4 x 16px = 22.4px */
    font-family: var(--font-main); /* Majority of text will have the gr font applied */
    color: var(--color-text);
    background-color: var(--color-bg);
    line-height: 1.25;
    text-align: center;
}

main {
    padding: 1.25rem;
}



#countdownContainer {
    border: 0.125rem solid var(--color-frames);
    border-radius: 10px;
    padding: 0.3125rem;
    margin: 1.25rem 0.3125rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

a {
    color: blue;
    text-decoration: underline;
}

button {
    margin-top: 2rem;
    border: solid black 2px;
    border-radius: 5px;
    padding: 10px;
    background-color:azure;
}

footer {
    background-color: #869197;
    color: var(--color-bg);
    font-family: var(--font-purple);
    font-size: 50%;
    padding: 1.875rem;
    margin-top: 1.875rem;
}

img {
    border-radius:  5px;
    margin-top: 1.5rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}